{{#if session.isAuthenticated}}
  Logged in as {{session.currentUser.displayName}}
  <button {{action "signOut"}}>Sign out</button>
  {{outlet}}
{{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading"> <strong class="">Login</strong>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" role="form" align="center">
                <button {{action "signIn" "google"}} align="center">Sign in with Google</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
