
<div>
  {{outlet}}
  <div class="jumbotron text-center">
    <h2 id="title">{{#link-to 'application'}}Test Reports{{/link-to}}</h2>
    {{#link-to 'reports'}}<button class="btn btn-primary">All Reports</button>{{/link-to}}
    {{#link-to 'reports.new'}}<button class="btn btn-primary">Add new report</button>{{/link-to}}
  </div>
  <section>
    <h4 class="center-align">Test Reports</h4>

    <table class="container">
      <tr>
        <td>Test Run Date</td>
        <td>Total Tests</td>
        <td>Tests Passed</td>
        <td>Tests Failed</td>
        <td>Intermittent Failure</td>
        <td>Details</td>
      </tr>
      {{#each model as |report|}}
        <tr>
          <td><h7>{{report.date}}</h7></td>
          <td><h6>{{report.tests}}</h6></td>
          <td><h6>{{report.passed}}</h6></td>
          <td><h6>{{report.failed}}</h6></td>
          <td><h6>{{report.intermittent}}</h6></td>
          <td><p>{{report.details}}</p></td>
          <td><button class="btn btn-danger" {{action "deleteReport" report}}>Delete</button></td>
        </tr>
      {{/each}}
    </table>
  </section>
</div>
